@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: var(--body-bg);
  padding: 0px 20px;
  color: var(--logo-text);
}
/* Custom Setting */
.max_screen{
  max-width: 1180px;
  margin: auto;
}
p{
  margin: 5px 0;
}
.highlight_code{
  font-family: "Baloo Da 2", sans-serif;
  background-color: var(--highlight_code);
  padding: 0px 6px;
  font-size: 80%;
  border-radius: 6px;
  width: fit-content;
}
:root{
  --body-bg: #f4f7ff;
  --white-color: #ffffff;
  --logo-text: #00303C;
  --button_color: #3752FD;
  --highlight_code: #e6e4e4;
  --box-bg: #F4F7FF;
  --text_color: rgb(112, 111, 111);
}
/* <=== Header Section ===> */
.header{
  background-color: var(--white-color);
  margin: 30px auto 20px;
  border-radius: 20px;
  width: 100%;
}
.nav_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
}
.nav_content{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 30px;
}
.nav_content img{
  width: 20%;
}
.nav_right{
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav_task_number{
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 25px;
  font-weight: bold;
  background-color: var(--box-bg);
  padding: 2px 12px;
  border-radius: 20px;
}
.task_checkBox{
  color: var(--button_color);
  font-size: 28px;
}
.rgb_btn{
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: var(--box-bg);
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
}
.rgb_btn img{
  width: 30px;
}
/* <===== (Main Content) =====> */
.main{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main_left{
  background-color: var(--white-color);
  flex-basis: 75%;
  border-radius: 20px;
}
.left_first{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  border-bottom: 1px dashed rgba(55, 82, 253, 0.2);
}
.Task_Assigned{
  background-color: var(--body-bg);
  flex-basis: 25%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Task_Assigned_checkbox{
  background-color: var(--white-color);
  padding: 15px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Task_Assigned_checkbox img{
  max-width: 25px;
}
.Task_Assigned_Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Task_Assigned_Content p{
  margin: 0;
}
.Task_Assigned_Content p:first-child{
  font-size: 14px;
  font-weight: 500;
}
.Task_Assigned_Content p:last-child{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: -8px;
}
.discover_something_new_today{
  background-color: var(--body-bg);
  cursor: pointer;
  flex-basis: 50%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgb(55,82,253);
  background: linear-gradient(90deg, rgba(55,82,253,1) 0%, rgba(108,127,250,1) 35%, rgba(155,168,248,1) 100%);
}
.discover_something_new_today img{
  width: 80%;
}
.discover_something_new_today p{
  font-size: 18px;
  color: var(--white-color);
}
.real_time{
  background-color: var(--body-bg);
  flex-basis: 25%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.real_time_calender_logo{
  background-color: var(--white-color);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.box{
  background-color: var(--body-bg);
  border-radius: 20px;
  padding: 20px;
}
.box_first{
  padding-bottom: 8px;
  border-bottom: 1px dashed rgba(55, 82, 253, 0.2);
}
.box_first p{
  padding: 5px 15px;
  border-radius: 12px;
  background-color: var(--white-color);
  color: var(--text_color);
  font-size: 14px;
}
.box_first_p{
  width: fit-content;
}
.box_first h2{
  font-size: 18px;
  font-weight: 500;
}
.box_last{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}
.box_last_date p{
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}
.box_last button{
  background-color: var(--button_color);
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.left_last{
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
.main_right{
  background-color: var(--white-color);
  flex-basis: 25%;
  border-radius: 20px;
}
.right_first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px dashed rgba(55, 82, 253, 0.2);
  padding: 15px;
}
.activity_log{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}
.activity_log_btn{
  background-color: var(--button_color);
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.activity_log_btn:hover{
  opacity: 80%;
}
#history_list{
  padding: 10px 20px;
}